<form action="" (ngSubmit)="onSubmit()" #f="ngForm" >
  <div class="form-group">
    <label for="nom">Nom de la recette :</label>
    <input type="text" class="form-control" id="nom" name="nom" [(ngModel)]=nouvelleRecette.nom>
  </div>
  <div class="form-group">
    <label for="difficulte">Difficulté :</label>
    <input type="number" class="form-control" id="difficulte" name="difficulte" [(ngModel)]=nouvelleRecette.difficulte>
  </div>
  <div class="form-group">
    <label for="origine">Origine :</label>
    <input type="text" class="form-control" id="origine" name="origine" [(ngModel)]=nouvelleRecette.origine>
  </div>
  <div class="form-group form-check">
    <label class="form-check-label">
      <input class="form-check-input" type="checkbox" name="vegan" [(ngModel)]=nouvelleRecette.vegan> Vegan ?
    </label>
  </div>
  <div class="form-group" *ngFor="let i of array">
      <label for="ingredient">Ingrédient :</label>
      <input type="text" class="form-control" id="ingredient" [name]="ingredient(i)" [(ngModel)]=nouvelleRecette.ingredients[i].nom>
      <label for="quantite">Quantité :</label>
      <input type="number" class="form-control" id="quantite" [name]="quantite(i)" [(ngModel)]=nouvelleRecette.ingredients[i].quantite>
    </div>
  <button class="btn btn-success" (click)="addIngredient()">+</button>
  <div class="form-group">
      <label for="description">Description de la recette :</label>
      <textarea type="text" style="height:300px;" size=500 class="form-control" id="description" name="description" [(ngModel)]=nouvelleRecette.description></textarea>
    </div>
  <button type="submit" (click)="valide()" class="btn btn-primary">Submit</button>
</form> 