<form action="" (ngSubmit)="onSubmit()" #f="ngForm" *ngIf="!logged && !registering" >
  <div class="form-group">
    <label for="account">Account :</label>
    <input type="text" class="form-control" id="account" name="account" [(ngModel)]=user.account required>
  </div>
  <div class="form-group">
      <label for="password">Password :</label>
      <input type="password" class="form-control" id="password" name="password" [(ngModel)]=user.password required>
    </div>
    <button type="submit" class="btn btn-primary">Log in</button>
</form>
<div *ngIf="!logged && !registering">
<p>Pas encore inscrit ? <br/>Pas de problème !</p>
<button class="btn btn-secondary" (click)="registerForm()">Créer un compte</button>
</div>
<form action="" (ngSubmit)="onSubmitRegister()" #f="ngForm" *ngIf="!logged && registering" >
    <div class="form-group">
      <label for="account">Account :</label>
      <input type="text" class="form-control" id="account" name="account" [(ngModel)]=user.account required>
    </div>
    <div class="form-group">
        <label for="password">Password :</label>
        <input type="password" class="form-control" id="password" name="password" [(ngModel)]=user.password required>
        <label for="passwordBis">Repeat password :</label>
        <input type="password" class="form-control" [ngStyle]="{'border-color':passwordBisColor}" id="passwordBis" name="passwordBis" [(ngModel)]=passwordBis required>
      </div>
      <button type="submit" class="btn btn-primary">Register</button>
  </form>
<div *ngIf="logged">
  <h1>Vous êtes déja connecté</h1>
</div>

