.ajout_img{
    width:300px;
    height:300px;
    position:absolute;
    top:100px;
    right:500px;
    border-width:10px;
    border-color:dimgrey;
    text-align: center;
    font-size: 20px;
}

.form-group{
    border-style:dashed;
}

.affiche_text{
    background-color: rgba(0, 0, 0, 0.6);
}