<h3>{{recette.nom}}</h3>
<h3>Difficulte : {{recette.difficulte}}</h3>
<p *ngIf="!isLiked"><fa name="heart" style="color:red;font-size:50px;" (click)="like()"></fa></p>
<button class="btn btn-success" (click)="switchSavoirPlus()">Voir la recette</button>
<div *ngIf="savoirPlus">
<h4>Ingredients :</h4>
<ul class="affiche_text">
  <li *ngFor="let ingredient of recette.displayIngredients()">{{ingredient.nom}} : Quantités : {{ingredient.quantite}} g</li>
</ul>
<h4 class="affiche_text">Recette :</h4>
<p class="affiche_text">{{recette.description}}</p>
</div>
<button class="btn btn-secondary" (click)="modifier()" *ngIf="savoirPlus">Modifier</button>
<div *ngIf="!image" class="form-group ajout_img">
Ajouter une image
<input type="file" id="image" #image (change)="upload(image)">
</div>

<img *ngIf="image" class="ajout_img" [src]="imageSafe">

<div>
  <div>
<app-modifie-recette *ngIf="modifie" [recette]="recette"></app-modifie-recette>
</div>
<div>
<app-commentaires [recetteUrl]="url" [commentaires]="recette.commentaires"></app-commentaires>
<button class="btn btn-secondary" (click)="commenter()">Commenter</button>
<form *ngIf="commente" (ngSubmit)="onSubmit()">
<input type="text" [(ngModel)]="commentaire" name="commentaire" placeholder="Votre commentaire">
<button type="submit" (click)="valide()">Envoyer</button>
</form>
</div>
</div>

