<div>
  <ul class="list-group">
    <li class="list-item" *ngFor="let obj of messages">{{obj.nom}} : {{obj.msg}}</li>
  </ul>
</div>
<div>
  <input [(ngModel)]="message" placeholder="Votre message">
  <button (click)="sendMessage()">Send</button>
</div>