<h3>{{recette.nom}}</h3>
<p *ngIf="recette.vegan" style="color:green">Vegan</p>
<p *ngIf="!recette.vegan" style="color:red">Pas vegan</p>
<a class="btn btn-success" [routerLink]="genereLien(recette.nom)">Détails</a>
<button class="btn btn-danger" style="width:20px;height:30px;text-align:auto;font-size:15px;" routerLink="/" (click)="supprime()">X</button>
