<div class="container">
    <div class="rangee">
        <ul class="liste">
            <app-recette-min class="element" *ngFor="let recette of recettes" [recetteJson]="recette"></app-recette-min>
        </ul>
        <div> 
            <h2>Vous avez aimé</h2>
            <ul>
                <li *ngFor="let recetteTestee of recettesTestees">{{recetteTestee}}</li>
            </ul>
        </div>
    </div>
</div>
