<div style="text-align:center">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="recettes">Liste des recettes</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="ajout">Ajouter une recette</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="chat">Chat Room</a>
          </li>
          <li class="nav-item" routerLinkActive="active" *ngIf="!logged">
            <a class="nav-link" routerLink="auth">Authentification</a>
          </li>
        </ul>
        <app-recherche></app-recherche>
      </nav>
</div>
<div class="container">
    <div class="row">
      <div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>








