<form class="form-inline" style="position:absolute;right:50px;top:10px;" action="">
  <input class="form-control mr-sm-2" type="text" (click)="onClick()" placeholder="Chercher une recette" #box (keyup)="onKey(box.value)">
</form>
<div style="position:absolute;right:100px;top:55px;">
<ul class="list-group">
  <li *ngFor="let resultat of resultats[0]" class="list-group-item" (click)="goTo(resultat.url)">{{resultat.nom}}
      <img style="width:50px;" [src]="resultats[1][resultat.url]">
  </li>
</ul>
</div>